<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('header.css')}}">
                {% block contactCss %}{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
    <style>
  /* Styles for the dropdown menu */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: red;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #f5f5f5;
  }
</style>

    {% block header %}
    <div class="header">
  <a href="#default" class="logo">Bein Sports</a>
  <div class="header-right">
    <a class="active" href="{{ path('app_home') }}">Home</a>
        
            <a href="{{ path('app_category_sport') }}">Sports</a>
            <a href="{{ path('app_contact') }}">Contact</a>
    {% if app.user %}
            {# User is logged in #}
            {% if 'ROLE_ADMIN' in app.user.roles %}
    <div class="dropdown">
      <a href="#" class="dropbtn">Configuration</a>
      <div class="dropdown-content">
        <a href="{{ path('app_sport_index') }}">Sport</a>
        <a href="{{ path('app_team_index') }}">Team</a>
      </div>
    </div>
    {% endif %}
        <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}
    <a href="{{ path('app_login') }}">Login</a>
    <a href="{{ path('app_register') }}">Register</a>
    {% endif %}
  </div>
</div>

    {% endblock %}
        {% block body %}
        {% endblock %}
    </body>
</html>
